body {
  text-align: center;
}

#buttonholder {
  text-align: center;
}

#table {
  /* text-align: center; */
  width: 70%;
  margin-left: 1%;
  margin-right: 15%;
}

#td {
  text-align: left;
  margin-left: 1%;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  margin-right: 47vh;
}

#BPL_Logo_container {
  margin-top: 10vh;
  margin-bottom: 0vh;
}

#input {
  border-top: thin solid #e5e5e5;
  border-right: thin solid #e5e5e5;
  border-bottom: 0;
  border-left: thin solid #e5e5e5;
  box-shadow: 0px 1px 1px 1px #e5e5e5;
  float: left;
  height: 38px;
  margin: 0.8em 0 0 0.5em;
  outline: 0;
  padding: 0.4em 0 0.4em 0.6em;
  width: 200px;
}

#container {
  display: inline-block;
  text-align: center;
  --dark-mode-bg-rgb: 53, 54, 58;
  --dark-mode-dialog-rgb: 41, 42, 45;
  --GG050-rgb: 248, 249, 250;
  --GG100-rgb: 241, 243, 244;
  --GG200-rgb: 232, 234, 237;
  --GG300-rgb: 218, 220, 224;
  --GG400-rgb: 189, 193, 198;
  --GG500-rgb: 154, 160, 166;
  --GG600-rgb: 128, 134, 139;
  --GG700-rgb: 95, 99, 104;
  --GG800-rgb: 60, 64, 67;
  --GG900-rgb: 32, 33, 36;
  --GB050-rgb: 232, 240, 254;
  --GB100-rgb: 210, 227, 252;
  --GB200-rgb: 174, 203, 250;
  --GB300-rgb: 138, 180, 248;
  --GB400-rgb: 102, 157, 246;
  --GB500-rgb: 66, 133, 244;
  --GB600-rgb: 26, 115, 232;
  --GB700-rgb: 25, 103, 210;
  --GB800-rgb: 24, 90, 188;
  --GB900-rgb: 23, 78, 166;
  --GB400-dark-rgb: 107, 165, 237;
  --GB600-dark-rgb: 37, 129, 223;
  --GR050-rgb: 252, 142, 230;
  --GR100-rgb: 250, 210, 207;
  --GR200-rgb: 246, 174, 169;
  --GR300-rgb: 242, 139, 130;
  --GR400-rgb: 238, 103, 92;
  --GR500-rgb: 234, 67, 53;
  --GR600-rgb: 217, 48, 37;
  --GR700-rgb: 197, 34, 31;
  --GR800-rgb: 179, 20, 18;
  --GR900-rgb: 165, 14, 14;
  --GR500-dark-rgb: 230, 106, 94;
  --GR600-dark-rgb: 211, 59, 48;
  --GR800-dark-rgb: 180, 27, 26;
  --dark-mode-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3),
    0 4px 8px 3px rgba(0, 0, 0, 0.15);
  --md-tile-margin: 16px;
  --md-tile-size: 112px;
  --content-width: calc(
    var(--column-count) * var(--md-tile-size)
      /* We add an extra pixel because rounding errors on different zooms can
       * make the width shorter than it should be. */ +
      1px
  );
  --logo-height: 200px;
  --logo-margin-top: 56px;
  --logo-margin-bottom: 38px;
  --logo-iframe-initial-height: var(--logo-height);
  --logo-iframe-height: var(--logo-height);
  --logo-iframe-resize-duration: 150ms;
  --logo-iframe-width: 500px;
  --mv-notice-time: 10s;
  --text-color: #000;
  --text-color-light: #fff;
  --column-count: 5;
  --dark_red: rgb(205, 0, 0);
  --grey: #777;
  --light_grey: #eee;
  --light_red: rgb(255, 68, 68);
  --active_icon_color: white;
  --button_shadow: rgba(0, 0, 0, 0.1);
  --inactive_icon_color: #999;
  --level_animation_color: #dbdbdb;
  --listening_icon_color: var(--light_red);
  --text_link_color: rgb(17, 85, 204);
  cursor: default;
  font-size: small;
  --logo-color: rgba(238, 238, 238, 1);
  font-family: "Roboto", arial, sans-serif;
  --searchbox-height: 44px;
  flex-shrink: 0;
  margin: 0 auto 0 auto;
  margin-left: 35vh;
  min-width: 410px;
  width: var(--content-width);
}

#button-holder {
  background-color: #f7f7f7;
  border-top: thin solid #e2dede;
  box-shadow: 1px 1px 1px 1px #e0dede;
  /* border-bottom: none;
  border-top: none;
  border-left: none;
  border-right: none; */
  cursor: pointer;
  float: left;
  height: 2px;
  margin: 12px 0 0 0;
  text-align: center;
  padding-bottom: 46px;
  width: 50px;
}

#button-holder img {
  /*
  --dark-mode-bg-rgb: 53, 54, 58;
  --dark-mode-dialog-rgb: 41, 42, 45;
  --GG050-rgb: 248, 249, 250;
  --GG100-rgb: 241, 243, 244;
  --GG200-rgb: 232, 234, 237;
  --GG300-rgb: 218, 220, 224;
  --GG400-rgb: 189, 193, 198;
  --GG500-rgb: 154, 160, 166;
  --GG600-rgb: 128, 134, 139;
  --GG700-rgb: 95, 99, 104;
  --GG800-rgb: 60, 64, 67;
  --GG900-rgb: 32, 33, 36;
  --GB050-rgb: 232, 240, 254;
  --GB100-rgb: 210, 227, 252;
  --GB200-rgb: 174, 203, 250;
  --GB300-rgb: 138, 180, 248;
  --GB400-rgb: 102, 157, 246;
  --GB500-rgb: 66, 133, 244;
  --GB600-rgb: 26, 115, 232;
  --GB700-rgb: 25, 103, 210;
  --GB800-rgb: 24, 90, 188;
  --GB900-rgb: 23, 78, 166;
  --GB400-dark-rgb: 107, 165, 237;
  --GB600-dark-rgb: 37, 129, 223;
  --GR050-rgb: 252, 142, 230;
  --GR100-rgb: 250, 210, 207;
  --GR200-rgb: 246, 174, 169;
  --GR300-rgb: 242, 139, 130;
  --GR400-rgb: 238, 103, 92;
  --GR500-rgb: 234, 67, 53;
  --GR600-rgb: 217, 48, 37;
  --GR700-rgb: 197, 34, 31;
  --GR800-rgb: 179, 20, 18;
  --GR900-rgb: 165, 14, 14;
  --GR500-dark-rgb: 230, 106, 94;
  --GR600-dark-rgb: 211, 59, 48;
  --GR800-dark-rgb: 180, 27, 26;
  --dark-mode-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3),
    0 4px 8px 3px rgba(0, 0, 0, 0.15);
  --md-tile-margin: 16px;
  --md-tile-size: 112px;
  --content-width: calc(
    var(--column-count) * var(--md-tile-size)
      /* We add an extra pixel because rounding errors on different zooms can
       * make the width shorter than it should be.  +
      1px
  );
  
  --logo-height: 200px;
  --logo-margin-top: 56px;
  --logo-margin-bottom: 38px;
  --logo-iframe-initial-height: var(--logo-height);
  --logo-iframe-height: var(--logo-height);
  --logo-iframe-resize-duration: 150ms;
  --logo-iframe-width: 500px;
  
  --mv-notice-time: 10s;
  --text-color: #000;
  --text-color-light: #fff;
  --column-count: 5;
  --dark_red: rgb(205, 0, 0);
  --grey: #777;
  --light_grey: #eee;
  --light_red: rgb(255, 68, 68);
  --active_icon_color: white;
  --button_shadow: rgba(0, 0, 0, 0.1);
  --inactive_icon_color: #999;
  --level_animation_color: #dbdbdb;
  --listening_icon_color: var(--light_red);
  --text_link_color: rgb(17, 85, 204);
  --logo-color: rgba(238, 238, 238, 1);
  --searchbox-height: 44px;
  font-size: 16px;
  cursor: text;
  font-family: "Roboto", arial, sans-serif;
  bottom: 0;
  margin: auto;
  position: absolute;
  */
  top: 0;

  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  background-color: var(--search-box-icon, rgb(117, 117, 117));
  left: 16px;
  width: 24px;
  -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0iIzVGNjM2OCI+PHBhdGggZD0iTTE1LjUgMTRoLS43OWwtLjI4LS4yN0E2LjQ3MSA2LjQ3MSAwIDAgMCAxNiA5LjUgNi41IDYuNSAwIDEgMCA5LjUgMTZjMS42MSAwIDMuMDktLjU5IDQuMjMtMS41N2wuMjcuMjh2Ljc5bDUgNC45OUwyMC40OSAxOWwtNC45OS01em0tNiAwQzcuMDEgMTQgNSAxMS45OSA1IDkuNVM3LjAxIDUgOS41IDUgMTQgNy4wMSAxNCA5LjUgMTEuOTkgMTQgOS41IDE0eiIvPjwvc3ZnPg==);
  -webkit-mask-size: 20px;
  margin-left: 5px;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
